/* Big tablet to 1200px */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }.hero-text-box-dishes {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}


/* Small tablet to big tablet */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .long-text {
        width: 80%;
        margin-left: 10%;
    }
    
    .boxview{
        height: auto;
    }
    .boxview:hover{
        height: auto;
    }
    
    .container{
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
    }
/* Small phones to small tablets */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    .long-text {
        width: 100%;
        margin-left: 0%;
    }
    .main-menu li{
    display: none;
        }
    .logo{
        position: absolute;
        float: left;
        left: 50%;
        margin-left: auto;
        margin-right: auto;
        transform: translate(-50%,0);
    }
    .container {
        width:90%;
    }
    .shefs img{
        width:60%;
    }
    .dish-container {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height:500px;
    }
   .dishes .more{
    width: 45%;
    margin:30px 22.5% 20px 22.5%;
}
    header .btn{
        margin-top: 10px;
    }
}
/* Small phones*/
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    
    .main-menu li{
    display: none;
        }
    .dish-container {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height:350px;
    }
   .dishes .more{
    width: 45%;
    margin:30px 22.5% 20px 22.5%;

}
